html {
    scroll-behavior: smooth;
}

body {
    background: #000000;
    font-family: 'Bubbler One', sans-serif;
}

.intro {
    color: #ffffff;
}

.cardintro {
    background: #000000;
    color: #ffffff;
}

.iconintro {
    color: #ffffff;
    background: #03f0f8;
    text-align: center;
}

.titlecards {
    color: #ffffff;
}

    .textointro {
    font-size: 90%;
    text-align: justify;
   }

.cardsdestac {
 background: #03f0f8;
 color: #ffffff;
}

.formcontacto {
    color: #ffffff;
}

.btn-contacto {
    background: #03f0f8;
    color: #ffffff;
}

.footer {
    background: #03f0f8; 
    color: #ffffff;
    padding: 1%;
}

.titlefooter {
    padding-left: 15%;
    padding-top: 1%;

}

.iconos {
    font-size: 25px;
    padding-left: 10%;
}
