html {
    scroll-behavior: smooth;
}

body {
    background: #000000;
    font-family: 'Bubbler One', sans-serif;
}

.intro {
    color: #ffffff;
}

.cardintro {
    background: #000000;
    color: #ffffff;
}

.iconintro {
    color: #ffffff;
    background: #03f0f8;
    text-align: center;
}

    .textointro {
    font-size: 90%;
    text-align: justify;
}

.cardsdestac {
    background: #00ffff;
    color: #ffffff;
}

#destacados {
    color: #ffffff;
}

.cardsdestac {
    color: #ffffff;
}

#titulotarjeta {
    font-family: 'Bubbler One', sans-serif;
    color: #ffffff;
    text-align: left;
}

.formcontacto {
    color: #ffffff;
}

.btn-contacto {
    background: #00ffff;
    color: #ffffff;
}

.footer {
    background: #00ffff; 
    color: #ffffff;
    padding: 1%;
}

.titlefooter {
    font-family: 'Bubbler One', sans-serif;
    color: #ffffff;
}

.iconos {
    font-size: 25px;
}
